NEYNAR_API_KEY="xxxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
NEYNAR_CLIENT_ID="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Legacy environment variables (can be removed if not needed elsewhere)
MONGODB_URI="mongodb://127.0.0.1:27017/reauction_test?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.6"
BASE_RPC_URL=""
BASE_SEPOLIA_RPC_URL=""

ETHERSCAN_API_KEY=""

NEXT_PUBLIC_PRE_LAUNCH=true

USDC_CONTRACT_ADDRESS="0xa3d69B7217B096709170f6fc50535e6aBc084f3A"
COLLECTIBLES_CONTRACT_ADDRESS="0x7F8cF2c1FB0A710d71173049816Fd96b4a708d81"
REAUCTION_MARKETPLACE_CONTRACT_ADDRESS="0x5784A3648796D085E6EB76229B4DaDd035E3Dc9a"
